body {
	background-color: #F2F5F7;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 1.6;
	color: #333;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	width: 94%;
	margin: 0 auto;
	
}
/* Centrar el título de contacto */
.contenidoContacto h2 {
    text-align: center;
    margin-bottom: 20px; /* Si quieres dar espacio debajo */
}




.headerPrincipal {
	background-color: #FFF;
	padding: 20px 0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headerPrincipal img {
	max-height: 50px;
}

.headerPrincipalTitulo {
	font-weight: bold;
	font-size: 2.5em;
	margin: 0;
}

.headerPrincipalTitulo a {
	text-decoration: none;
	color: #333;
}


.headerPrincipal-nav {
	display: flex;
	gap: 20px;
	float: right;
}

.headerPrincipalNavLink {
	color: rgb(154, 0, 115);
	padding: 10px 15px;
	font-size: 1em;
	text-decoration: none;
	transition: color 0.3s ease, background-color 0.3s ease;
	border-radius: 5px;
}

.headerPrincipalNavLink:hover {
	color: white;
	background-color: rgb(154, 0, 115);
}


main {
	padding: 50px 0;
}

.subtitulo {
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 2em;
	color: rgb(160, 95, 139);
}

.headerPrincipalTitulo {
	font-size: 2.5em;
}


.contenidoSkills, .contenidoHobbies, .contendorFormacionProfesional , .contenidoContacto{
	padding: 40px 0;
	background-color: #FFF;
	margin-bottom: 40px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.contenidoPrincipal-cursos {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.contenidoPrincipal-cursos-link {
	flex: 1 1 calc(33.333% - 5px);
	background-color: #F2F5F7;
	padding: 10px;
	text-align: center;
	border-radius: 8px;
	transition: transform 0.3s ease, background-color 0.3s ease;
}
.contenidoPrincipal-cursos-link:hover {
	background-color: rgb(154, 0, 115);
	color: white;
	transform: scale(1.05);

}
.contenidoPortafolio-link {
	flex: 1 1 1;
	background-color: #F2F5F7;
	padding: 40px;
	text-align: center;
	border-radius: 8px;
	transition: transform 0.3s ease, background-color 0.3s ease;
	font-size: 24.6px;
}


.contenidoPortafolio-link:hover {
	background-color: rgb(154, 0, 115);
	color: white;
	transform: scale(1.05);
}
.foto{
	width: 20%;
	border-radius: 60%;
	object-fit: cover; 
}
.iz{
	float:right;
	padding: 5px;
}
.texto{
	
	text-align: justify;
	font-size: 18px;
	
}
.negritas {
	font-size: 30px;
	font-weight: bold;
}
.contenidoPrincipal-cursos-link a {
	color: inherit;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
}
.mapa-contenedor {
    position: relative;
    width: 100%;
    height: 450px;

}

.mapa-contenedor iframe {
    width: 100%;
    height: 100%;
	
}

.formulario-contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
	
}

.formulario-contenedor form {
    display: flex;
    flex-direction: column;
}

.formulario-contenedor input, 
.formulario-contenedor textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contenedor button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contenedor button:hover {
    background-color: #0056b3;
}


footer {
	background-color: #333;
	color: white;
	padding: 30px 0;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"] {
	background-color: rgb(154, 0, 115);
	color: white;
	border: none;
	padding: 15px;
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
	background-color: #333;
}
